body{
    background-color:rgb(255, 241, 223);
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkblue;
    text-align: center;
    padding: 10px;
}

.foot{
    position: relative;
    bottom: -100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: maroon;
}

.container{
    background-color:lightblue;
    height: 60vh;
    width: 95vw;
    position: relative;
    top: 3vh;
    justify-self: center;
}

.ball{
    background-color: orange;
    border: 2px solid black;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0px;
    animation: moveup 1s ease-out 1s infinite alternate,
               moveright 6000ms linear 1s infinite alternate;
}

@keyframes moveup {
    from{
        bottom: 0;
    }
    to{
        bottom: 85%;
    }
}

@keyframes moveright {
    from{
        left: 0;
    }
    to{
        left: 96%;
    }
}